
html{
  scroll-behavior: smooth;  /*<-- Suavizado al desplazarse*/
}

* {
  box-sizing:border-box
}

body{
  font-size: 0.8em;
  background-color: #dfb302;
  color: #A10702;
  font-family: 'Courier New', Courier, monospace;
}

/* estilos generales */

h2{
  font-size: 1.8em;
  font-weight: bolder;
  text-align: center;

}

h3{
  font-size: 2em;
  margin: 0;
}


a{
  text-decoration: none;
}



/* SEPARADOR DE SECCIONES */
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #dfb302, #A10702, #dfb302);
}


/* NAVBAR AQUI */




/*  ---Carrusel--- */

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  background-color: #DFB302;
  color: #A10702;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 3px 3px 4px #0009;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  left: 26.9%;
  width: 46.57%;
  text-align: center;
  border-radius: 20px;
  border: solid 2px;
  border-color: #A10702;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides-Imagen{
  border-radius: 15px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2s ease;
  box-shadow: 3px 3px 4px #0009;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}


/* ESTILO PARA CADA SECCION DE LA PAGINA */

.secciones{
  
  width: 90vw;
  height: auto;
  min-height: 90vh; /*<-- ALTO DE SECCION EN BASE A LA PANTALLA*/ ;
  margin: 30px auto; /*<-- SEPARACION DESDE LOS LOS COSTADOS Y DE ARRAIBA Y ABAJO*/
  padding: 8px;

  /*; ┌--- COLOR SOLO PARA VISUALIZACION DE SECCIONES */
  /* background-color: #1983c4c0  */
}


/*------------------------------ Seccion de servicios */
#contenedor_servicios{
  /* display: grid;
  grid-template-columns: repeat(3,1fr); */
  gap: 10px;
  text-align: center;
  padding: 10px;
  
}


/* Tarjeta de menu */
.servicio_contenedor {
  position: relative;
  width: 50%;
}

.image {
  /* Margin: TOP RIGHT BOTTOM LEFT; (ver si va junto)*/
  margin:0 0 20px 0;
  display: block;
  width: 200%;
  height: auto;
  border: 2px solid  #A10702;
  box-shadow: 0 0 50px #0009;
}

/* Overlay de la tarjeta */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 100%;
  width: 200%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1f1f1f;
}



.servicio_contenedor:hover .overlay {
  opacity: 0.9;
}

.texto {
  width: 100%;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  color: #1983c4;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.texto p{
  font-size: 1.3em;
}
.texto h3{
  text-decoration: underline;
}
/*-------------------------------------*/


/* Desktop Responsive */