
html{
  scroll-behavior: smooth;  /*<-- Suavizado al desplazarse*/
}

* {
  box-sizing:border-box
}

body{
  font-size: 0.8em;
  background-color: #dfb302;
  color: #A10702;
  
}

/* ---------------------estilos generales---------------------*/

h2{
  font-size: 1.8em;
  font-weight: bolder;
  text-align: center;

}

h3{
  font-size: 1em;
  margin: 0;
  
}


a{
  text-decoration: none;
}



/* SEPARADOR DE SECCIONES */
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #dfb302, #A10702, #dfb302);
}

/* .separador {
  margin-top: 15px; <-- Margin top para dots
} */


/* NAVBAR AQUI */

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}


/*  ---Carrusel--- */


/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  margin-top: 33px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Slideshow images */

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

#fondo1,#fondo2,#fondo3,#fondo4{
  width: 89vw;
  height: 35vh;
  max-width: 390px;
  max-height: 219px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#fondo1{
  background-image: url(imagenes_procesadas/CarruselImagen_1_Movil.webp);
}

#fondo2{
  background-image: url(imagenes_procesadas/CarruselImagenClientes.webp);
}

#fondo3{
  background-image: url(imagenes_procesadas/CarruselImagenMesero.webp);
}

#fondo4{
  background-image: url(imagenes_procesadas/CarruselImagenCocinero.webp);
}

#imagenprueba{
  width: 100%;
  height: auto;
}



/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  background-color: #DFB302;
  color: #A10702;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 3px 3px 4px #0009;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  left: 13.5%;
  width: 74%;
  text-align: center;
  border-radius: 20px;
  border: solid 2px;
  border-color: #A10702;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides-Imagen{
  border-radius: 15px;
}

/* The dots/bullets/indicators */

#dots{
  text-align: center;
/*   margin-top: 15px;
  margin-bottom: 12px;     <-- Cambio para margin como top y bottom(de separador)*/
  margin: 15px 0 12px 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1.5s ease;
  box-shadow: 3px 3px 4px #0009;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}


/* ESTILO PARA CADA SECCION DE LA PAGINA */

.secciones{
  
  width: 90vw;
  height: auto;
  min-height: 80vh; /*<-- ALTO DE SECCION EN BASE A LA PANTALLA*/ 
  margin: 20px auto; /*<-- SEPARACION DESDE LOS LOS COSTADOS Y DE ARRAIBA Y ABAJO*/
  padding: 8px;

  /*; ┌--- COLOR SOLO PARA VISUALIZACION DE SECCIONES */
  /* background-color: #1983c4c0  */
}


/*------------------------------ Seccion de servicios */
#contenedor_servicios{
  text-align: center;
  padding: 20px;
}


/* Tarjeta de menu */
.servicio_contenedor {
  position: relative;
  width: 50%;
}

.image {
  /* Margin: TOP RIGHT BOTTOM LEFT; (ver si va junto)*/
  margin:0 0 20px 0;
  display: block;
  width: 200%;
  height: auto;
  border: 2px solid  #A10702;
  box-shadow: 1px 1px 0.8px rgb(63, 0, 0);
}

/* Overlay de la tarjeta */


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 100%;
  width: 200%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1f1f1f;
}



.servicio_contenedor:hover .overlay {
  opacity: 0.9;
}

.texto {
  width: 100%;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  color: #1983c4;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.texto p{
  font-size: 1.3em;
}
.texto h3{
  text-decoration: underline;
}
/*-------------------------------------*/
@media (min-width: 425px){
  .mySlides-Imagen{
    max-height: 219px;
    max-width: 390px;
  }
}

/* Desktop Responsive */

@media (min-width: 768px){

  body{
    font-size: 1em;
  }

  .titulo_contacto{
    font-size: 1.8em;
  }

  #contenedor_servicios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
  }

  .slideshow-container{
    margin: auto;
    margin-top: 33px;
  }

  #fondo1,#fondo2,#fondo3,#fondo4{
    width: 89vw;
    height: 55vh;
    max-width: 600px;
    max-height: 337px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #fondo1{
    background-image: url(imagenes_procesadas/ImagenCarrusel_1_Tablet.webp);
  }

  #fondo2{
    background-image: url();
  }

  #fondo3{

  }

  #fondo4{
    /*Dejar vacio aqui por ahora*/
  }
  
  .numbertext, .text {
    font-size: 16px;
  }
  
  .text{
    left: 25%;
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .slideshow-container{
    max-width: 800px;
  }

  .numbertext, .text{
    font-size: 21px;
  }

  .dot {
    width: 22px;
    height: 22px;
    margin: 0 4px ;
  }

}
